<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="characters" value="Mario,Luigi,Yoshi,Wario,Peach,Toad,Waluigi,Rosalina"/>
      <add key="gamemodes" value="Normal Mode,3rd Person Shooter,No Interactions,Prop Hunt,Boss Rush,Tag,Hide 'n' Seek"/>
    </appSettings>
</configuration>